// Navbar.module.scss

.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 40px;
    color: #fff;
 
}

.logo {

    width: 15%;
    max-width: 7.5rem; 
    min-width: 6rem;

.desktop-logo {

    display: flex;
}

    .mobile-logo {

        display: none;
    }




a {
    color: #fff;
    font-size: clamp(1rem, 1.1696rem + 1.1963vw, 2.65rem);
    text-decoration: none;
  }
}

.links {
    list-style: none;
    display: flex;
    gap: 2.5rem;


    a:hover {

        opacity: 60%;
        text-decoration: underline;
        transition: 0.5s ease-in-out;
    }

}

.links li a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(0.7rem, 1rem + 1.1963vw, 1.15rem);
}

.toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.4s;


    &:nth-child(1) {
        transform-origin: top left;

        &.active {
            transform: rotate(45deg);
        }
    }

    &:nth-child(2) {
        &.active {
            opacity: 0;
        }
    }

    &:nth-child(3) {
        transform-origin: bottom right;

        &.active {
            transform: rotate(45deg);
        }
    }
}





/* Media Queries for Mobile */
@media (max-width: 768px) {

    .logo {


        .desktop-logo {

            display: none;
        }


        .mobile-logo {

            display: flex;
            width: 25%;
        }
    }

    .navbar {

        padding: 20px 20px 20px 15px;

    }

    .links {
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: #333;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        margin: 0;
        padding: 0;
        z-index: -1;



        a:hover {
            opacity: 60%;
            text-decoration: underline;
            transition: 0.5s ease-in-out;
        }
    }


    .links.open {
        transform: translateX(0);
    }

    .toggle {
        display: flex;
    }
}
